<table mat-table class="mat-elevation-z8" [dataSource]="bets$ | async">

  <ng-container matColumnDef="firstTeam">
    <th mat-header-cell *matHeaderCellDef>First Team</th>
    <td mat-cell *matCellDef="let element">{{element?.teams[0]?.name}}</td>
  </ng-container>

  <ng-container matColumnDef="firstTeamWinRate">
    <th mat-header-cell *matHeaderCellDef>First Team Win Rate</th>
    <td mat-cell *matCellDef="let element">{{element?.teams[0]?.win | number: '1.0-2'}}</td>
  </ng-container>

  <ng-container matColumnDef="drawRate">
    <th mat-header-cell *matHeaderCellDef>Draw Rate</th>
    <td mat-cell *matCellDef="let element">{{element?.draw | number: '1.0-2'}}</td>
  </ng-container>

  <ng-container matColumnDef="secondTeamWinRate">
    <th mat-header-cell *matHeaderCellDef>Second Team Win Rate</th>
    <td mat-cell *matCellDef="let element">{{element?.teams[1]?.win | number: '1.0-2'}}</td>
  </ng-container>

  <ng-container matColumnDef="secondTeam">
    <th mat-header-cell *matHeaderCellDef>Second Team</th>
    <td mat-cell *matCellDef="let element">{{element?.teams[1]?.name}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
